[submodule "evmone"]
	path = third_party/evmone
	url = https://github.com/hatemosphere/zvm1.git
	branch = release/airbender
[submodule "intx"]
	path = third_party/intx
	url = https://github.com/erigontech/intx.git
	branch = release/airbender
